# yaml 配置
version: '3.8'
services:
  nginx:
    image: nginx
    container_name: nginx-notes
    volumes:
      - ../dist:/var/www/html:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"